<!-- ======================================================================== -->
<!-- Copyright 2016, Julius Krah										      -->
<!-- by the @authors tag. See the LICENCE in the distribution for a		      -->
<!-- full listing of individual contributors.							      -->
<!--																	      -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");	      -->
<!-- you may not use this file except in compliance with the License.	      -->
<!-- You may obtain a copy of the License at							      -->
<!-- http://www.apache.org/licenses/LICENSE-2.0							      -->
<!-- Unless required by applicable law or agreed to in writing, software	  -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,		  -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and	  -->
<!-- limitations under the License.											  -->
<!-- ======================================================================== -->

<!DOCTYPE html>
<html>

<head th:fragment="head(title)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"
	th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>

<title th:text="${title}">Head</title>
</head>
<body>

	<!-- Navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"
					th:text="#{home.project}">My project</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:href="@{/}"
						th:text="#{home.welcome}">Home Page</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- TODO when user is not authenticated show <code>signup &amp; signin</code> -->
					<th:block sec:authorize="isAnonymous()">
						<li><a href="/signin" th:href="@{/login}"
							th:text="#{home.login}">Login</a></li>
						<li><a href="/signin" th:href="@{/user/signup}"
							th:text="#{home.signup}">Create account</a></li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
						<li><a href="/logout" th:href="@{/logout}"
							th:text="#{home.logout}">Sign out</a></li>
						<li><a sec:authentication="name">Bob</a></li>
					</th:block>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</body>
</html>