<!-- ======================================================================== -->
<!-- Copyright 2016, Julius Krah										      -->
<!-- by the @authors tag. See the LICENCE in the distribution for a		      -->
<!-- full listing of individual contributors.							      -->
<!--																	      -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");	      -->
<!-- you may not use this file except in compliance with the License.	      -->
<!-- You may obtain a copy of the License at							      -->
<!-- http://www.apache.org/licenses/LICENSE-2.0							      -->
<!-- Unless required by applicable law or agreed to in writing, software	  -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,		  -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and	  -->
<!-- limitations under the License.											  -->
<!-- ======================================================================== -->

<!DOCTYPE html>
<html>

<head
	th:include="fragments/header :: head(title = 'Spring Profiles : ' + #{home.404})">
<title>Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"
	th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:include="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<h1>Page Not Found</h1>

		<!--  As we are using Thymeleaf, you might consider using
	      ${#httpServletRequest.requestURL}. But that returns the path
	      to this error page.  Hence we explicitly add the url to the
	      Model in some of the example code. -->
		<p th:if="${url}">
			<b>Page:</b> <span th:text="${url}">Page URL</span>
		</p>

		<p th:if="${timestamp}" id='created'>
			<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
		</p>

		<p th:if="${status}">
			<b>Response Status:</b> <span th:text="${status}">status-code</span>
			<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
		</p>

		<!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
	       ${exception} or ${message} are set internally by Spring Boot. */-->
		<div
			th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
			<b>Cause:</b> <span th:if="${ex}" th:text="${ex}">exception
				...</span> <span th:if="${exception}" th:text="${exception}">exception
				...</span> <span th:if="${message} and ${message.length() != 0}"
				th:text="${message}">message ...</span>
		</div>
		<blockquote>
			<i> We've spent decades trying to find this page. Thank God
				you've found it.<br /> However if this wasn't the page you are
				looking for please go <a href="/" th:href="@{/}">back</a>.
			</i>
		</blockquote>
		<p>
			You are seeing this error page due to Spring Boot (which returns a
			view called "404" in response to not found exceptions. Since we are
			using Thymeleaf this corresponds to the template
			<code>404.html</code>
			)
		</p>

		<hr />
		<nav th:replace="fragments/footer :: footer">Navigation here</nav>
	</div>
</body>
</html>