<!-- ======================================================================== -->
<!-- Copyright 2016, Julius Krah										      -->
<!-- by the @authors tag. See the LICENCE in the distribution for a		      -->
<!-- full listing of individual contributors.							      -->
<!--																	      -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");	      -->
<!-- you may not use this file except in compliance with the License.	      -->
<!-- You may obtain a copy of the License at							      -->
<!-- http://www.apache.org/licenses/LICENSE-2.0							      -->
<!-- Unless required by applicable law or agreed to in writing, software	  -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,		  -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and	  -->
<!-- limitations under the License.											  -->
<!-- ======================================================================== -->

<!DOCTYPE html>
<html>

<head
	th:include="fragments/header :: head(title = 'Spring Profiles : ' + #{home.login})">
<title>Signup</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"
	th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:include="fragments/header :: header">&nbsp;</div>
	<form class="form-narrow form-horizontal" method="post"
		th:method="post" th:action="@{/login}" th:fragment="loginForm">

		<fieldset>
			<legend th:text="#{user.login}">Login</legend>
			<th:block th:if="${param.error}">
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<span th:inline="text">[[#{login.error}]]</span>
				</div>
			</th:block>
			<th:block th:if="${param.logout}">
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<span th:inline="text">[[#{login.logout}]]</span>
				</div>
			</th:block>
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label"
					th:text="#{user.login}">Login</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="username"
						name="username" placeholder="Username"
						th:placeholder="#{user.login}" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label"
					th:text="#{user.password}">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" id="password"
						name="password" placeholder="Password"
						th:placeholder="#{user.password}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default"
						th:text="#{home.login}">Signin</button>
				</div>
			</div>
		</fieldset>
	</form>
</body>
</html>